.main-container {
  padding: 10px;
}

.grid-container {
  display: inherit;
  margin: 20px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  flex-basis: auto;
}

.dashboard-card {
  left: 1px;
  right: 10px;
  margin-bottom: 2%;
  flex-shrink: 1;
  flex-grow: 1;
  padding-bottom: 10%;
}

.dashboard-card-content {
  text-align: left;
}

.breed-dropdown{
  text-align: center!important;
}

.lottie-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50vh;
}

.random-button{
  background-color: #ce563a;
  color: #fff;
}